# Default ignored files
target
.idea/
.idea/**/compiler.xml
.idea/**/jarRepositories.xml
.idea/**/misc.xml
.idea/**/runConfigurations.xml
.idea/**/uiDesigner.xml
.idea/**/vcs.xml
.idea/**/workspace.xml
test-case-as-a-code.iml
assets
allure-results